<a href="https://colab.research.google.com/github/RUSHILPATEL33/Python_cert/blob/main/Database_connectivity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import sqlite3
try:
    conn = sqlite3.connect('school1.db')
    cursor = conn.cursor()
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS students(
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        age INTEGER,
        gender TEXT
    )
    ''')

    cursor.execute("INSERT INTO students (name, age, gender) VALUES ('Alice', 14, '8th')")
    cursor.execute("INSERT INTO students (name, age, gender) VALUES ('Bob', 15, '9th')")
    cursor.execute("INSERT INTO students (name, age, gender) VALUES ('Charlie', 13, '7th')")
    conn.commit()
    print("\n Updated Students Table data:")
    cursor.execute("SELECT * FROM students")
    rows = cursor.fetchall()
    for row in rows:
        print(row)
except sqlite3.Error as e:
    print("An error occurred:", e)
finally:
      conn.close()

 Updated Students Table data:
(1, 'Alice', 14, '8th')
(2, 'Bob', 15, '9th')
(3, 'Charlie', 13, '7th')
(4, 'Alice', 14, '8th')
(5, 'Bob', 15, '9th')
(6, 'Charlie', 13, '7th')
(7, 'Alice', 14, '8th')
(8, 'Bob', 15, '9th')
(9, 'Charlie', 13, '7th')
(10, 'Alice', 14, '8th')
(11, 'Bob', 15, '9th')
(12, 'Charlie', 13, '7th')
(13, 'Alice', 14, '8th')
(14, 'Bob', 15, '9th')
(15, 'Charlie', 13, '7th')
(16, 'Alice', 14, '8th')
(17, 'Bob', 15, '9th')
(18, 'Charlie', 13, '7th')